body {
    font-family: 'Inter', sans-serif;
    background-color: #eef8fa;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-weight: 600;
    font-size: larger;
}

.clr-btn {
    position: relative;
    top: 4px;
    left: 4px;
    background: none;
    border: none;
    color: #666;
    font-size: 0.9rem;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.3s ease;
    padding: 0;
    margin: 0;
    z-index: 2;
}

.clear-btn:hover {
    color: #333;
}

label {
    color: grey;
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.calculator-container {
    display: flex;
    background: white;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    max-width: 900px;
    overflow: hidden;
}

.form-left,
.form-right {
    padding: 2rem;
    width: 50%;
}

.form-right {
    flex-basis: 100%;
    flex-grow: 1;
    flex-basis: 90%;
    color: #12232e;
}

.form-left {
    flex-basis: 90%;
    flex-grow: 1;
}

.input-group {
    margin-top: 1.5rem;
}

.input-row,
.dual-input {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 6px;
    overflow: hidden;
}

.currency-symbol {
    background-color: #d6e746;
    padding: 0.75rem;
    font-weight: bold;
}

.input-row input,
.dual-input input {
    border: none;
    padding: 0.75rem;
    outline: none;
}

.input-row input {
    flex: 1;
}

.dual-input input {
    width: 110px;
    font-weight: 800;
}

.dual-input span {
    background-color: #dcf3f1;
    padding: 0.75rem;
    font-weight: 600;
    color: #666;
    height: 20px;
}

.input-dual {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.radio-option {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    background: #f7f7f7;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    position: relative;
}

/* Hide native radio */
.radio-option input[type="radio"] {
    display: none;
}

/* Custom radio circle */
.custom-radio {
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

/* Filled when selected */
.radio-option input[type="radio"]:checked+.custom-radio::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #cde023;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 4px;
}

/* Highlight selected */
.radio-option input[type="radio"]:checked~.custom-radio,
.radio-option:has(input[type="radio"]:checked) {
    background-color: #eff0e6;
    border-color: #d6e746;
}

.radio-option input[type="radio"]:checked~* {
    color: #d6e746;
    font-weight: bold;
}

.calculator-button {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.calculator-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d6e746;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
}

.calculator-button img {
    height: 20px;
    margin-right: 8px;
}

/* Add these styles to your CSS */
.form-right {
    background-color: #173346;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    width: 700px;
    border-bottom-left-radius: 60px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.form-right h2 {
    font-weight: 600;
    margin-bottom: 1rem;
}

.results-container {
    max-width: 100%;
}

.results-description {
    color: #ccc;
    margin-bottom: 2rem;
    font-size: 0.9rem;
    line-height: 1.5;
}

.results-box {
    background-color: #0e1f2a;
    padding: 1.5rem;
    border-radius: 8px;
    margin-top: 1rem;
    height: 200px;
}

.results-box h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #fff;
    font-weight: 500;
}

.monthly-payment {
    font-size: 2rem;
    font-weight: 600;
    color: #d6e746;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 1rem;
}

.total-repayment {
    display: grid;
    justify-content: space-between;
    font-size: 1.2rem;
}

.total-repayment span:first-child {
    color: #ccc;
}

.total-repayment span:last-child {
    color: #fff;
    font-weight: 600;
    margin-top: 15px;
}


/* .form-right p {
    font-weight: 300;
    margin-bottom: 2rem;
    font-size: 0.9rem;
    max-width: 500px;
}

.results-image {
    max-width: 180px;
    margin-bottom: 1rem;
} */


/* Mobile view */
@media (max-width: 768px) {
    body {
        height: auto;
        padding: 1rem;
        align-items: flex-start;
    }

    .calculator-container {
        align-items: center;
        justify-content: center;
        margin-left: 50px;
        flex-direction: column;
        max-width: 75%;
        border-radius: 12px;
    }

    .calculator-button button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #d6e746;
        border: none;
        padding: 1rem 1.5rem;
        border-radius: 25px;
        font-weight: bold;
        cursor: pointer;
        font-size: 1rem;
        width: 65%;
    }

    .form-left {
        width: 95%;
        flex-basis: 100%;
        flex-grow: 1;
        padding: 1rem;
        box-shadow: none;
        margin-bottom: 1rem;
    }

    .input-group {
        margin-top: 0;
    }


    .form-left {
        order: 1;
    }

    .form-right {
        justify-content: center;
        align-items: center;
        text-align: left;
        order: 2;
        background-color: #173346;
        color: white;
        text-align: center;
        border-radius: 12px;
    }

    .form-right h2 {
        display: flex;
        text-align: left;
        font-size: 1.2rem;
        margin-left: 7px;
        margin-bottom: 0.5rem;
    }

    .form-right h3,
    .form-right span,
    .monthly-payment {
        text-align: left;
    }



    .form-right p {
        display: flex;
        text-align: left;

        font-size: 0.9rem;
        max-width: 100%;
        margin-left: 10px;
        color: #ccc;
    }

    .results-image {
        margin-top: 50px;
        height: 100px;
        max-width: 100px;
        margin-bottom: 1rem;
    }

    .results-box {
        background-color: #0e1f2a;
        padding: 1.5rem;
        border-radius: 8px;
        margin-top: 1rem;
        height: 200px;
    }

    .clr-btn {
        border-radius: 0;
        padding: 0.5rem;
        margin-top: -25px;
        margin-left: -10px;
    }

    .input-dual {
        flex-direction: column;
        gap: 1rem;
    }

    .dual-input input {
        width: 100%;
    }

    .radio-option {
        flex-direction: row;
        justify-content: flex-start;
        padding: 0.75rem;
    }

    .form-right p {
        font-weight: 300;
        margin-bottom: 2rem;
        font-size: 1rem;
        max-width: 400px;
    }

    .results-image {
        height: 100px;
        max-width: 250px;
        margin-bottom: 1rem;
    }
}